body{

    background:#E0DDD5;
    font-family:Arial, Helvetica, sans-serif;
    color: #E0DDD5;
    margin: 1em;
    padding: 10px;
}
main{
    width: 730px;
    margin: 15px auto;
    display: flex;
    align-items: center;
}
.sec1{
    background-color: rgb(225,225,225,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    color: #757589;
    text-align: center;
}
button{
    height: 125px;
    width: 90px;
    margin: 5px;
    padding: 0;
}
button:hover{
    cursor: pointer;
}

.sec2{
    background-color: #757589;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250;
    height: 200px;
    padding: 0 20px;
}
.estadisticas{
    font-size: 14px;
    height: 60px;
    border-radius: 8px;
    padding: 8px 15px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}
p{
    color: #757589;
}
img{
    width: 90%;
}
